
<h1 style="text-align:center">Todolist</h1>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="TODO LIST" aria-label="TODO LIST" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="saveTodo()" >+</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">No.</th>
            <th scope="col">List</th>
            <th scope="col">Handle</th> -->
          </tr> 
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos; let i = index">
            <th scope="row">{{i+1}}</th>
            <td class="{{(!todo.isCompleted)?'doneTodo':''}}" (click)="(doneTodo(i))" >{{todo.name}}</td>
            <td style="color:red; font-weight:bold" (click)="removeTodo(i)">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>